<html xmlns:th="http://www.thymeleaf.org/">
<th:block th:fragment="publicStaticResources" th:remove="tag">
    <!-- use id to define the list for stronger -->
    <meta charset="UTF-8" />
    <!-- declare style resources-->
    <style th:inline="text">
        @font-face{
            font-family: "Source Han Sans SC";
            src: url([[@{fonts/SourceHanSansSC-Light.otf}]]);
        }
    </style>
    <!-- include styles first-->
    <link rel="stylesheet" type="text/css" th:hrefUrl="@{/style/publicStyle.css}"/>
    <!-- then include scripts -->
    <script type="text/javascript" th:src="@{/script/libs/jquery.js}" defer="defer"></script>
    <script type="text/javascript" th:src="@{/script/versionIntercept.js}" defer="defer"></script>
    <script type="text/javascript" th:src="@{/script/publicScript.js}" defer="defer"></script>
</th:block>
</html>